.posts {
    list-style-type: none;
    margin:0;
};

.post {
    margin: 1rem 0;
    text-decoration: none;
    color:#777777;
    // Link{
    //     color:#000;
    //     text-decoration: none;
        
    // }
}