.header{
    padding:1rem 0 3rem;

};

.title{
    color:#000;
    font-size: 3rem;
    text-decoration: none;

}
.link{
    color: #999999;
};

.nav{
    display: flex;
    list-style-type: none;
    margin:0;
};
.nav_item{
    color: #999999;
    font-size:.9rem;
    margin-right:1.4rem;
    text-decoration: none;
};
.nav_item:hover{
    color:#666666;

};
.active-nav-item{
    color:#333333;
}